/.venv
.env
*.env
__pycache__/
#Ignore the scratch folder
/scratch
/.streamlit/
google_credentials.json
google_credentials*.json

stages.md

onboarding_guide.md
/_trash_bin
fix_emojis.py
populate_test_data.py